.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: solid $grey 1px;
  width: 100%;
  .fa-solid {
    margin: 3em;
  }
}
.intro1 {
  margin: 4em 0em;
}
#logoslash {
  margin-top: 1em;
}
.chg-color1 {font-weight: unset;
  margin-right: 0em;
  margin: 0;
  font-family: "Playfair Display";
  opacity: 1;
}

.alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 1000%;
  width: auto;
  z-index: -1;

  img {
    width: 50rem;
    position: absolute;
    z-index: -1;
  }
}

.alignfull2 {
  margin-left: calc(113% - 50vw);
  margin-top: calc(105% - 50.5vw);
  //margin-right: calc(100% - 50vw);
  max-width: 1000%;
  //width: auto;
  height: 20vh;
  z-index: -1;

  img {
    width: 50rem;
    //OBAVEZNO VRATITI ZA PREKO!
    position: absolute;
    z-index: -1;
  }
}

.txt_first2 {
  width: 80%;
  margin: auto;
  float: left;
  position: unset;
  margin-top: 3%;
  //top: 29%;
  //top:15%;
}

.text_section2 {
  background-color: $dark-brown;
  //width: 100%;
  z-index: 9;
  padding: 4em;
  width: 50%;
  margin-top: -2%;
  margin: 2%;
  color: $white;
  //margin: auto;
  h2 {font-weight: unset;
    font-family: "Playfair Display";
    font-size: 2.5em;
  }
p{font-family: "Lato";}

}

//#text_section_main{position: relative;}
.text_section {
  background-color: $light-white;
  //width: 100%;
  z-index: 9;
  padding: 4em;
  //margin: auto;
  h2 {font-weight: unset;
    font-family: "Playfair Display";
    color: $orange;
    font-size: 2.5em;
  }

  p{font-family: "Lato";}
}

.gallery_section {
  margin: auto;
  text-align: center;
  h2 {
    font-family: "Playfair Display";
    font-weight: unset;
    padding: 1em;
    font-size: 3em;
  }
}

.menu_part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 80%;
}
.chg-color {
  color: $dark_grey;
  margin: 0 1em 0 0;
  text-align: left;font-weight: unset;
  opacity: 30%;
  font-size: 2.6em;
}
.chg-color1 {
  color: $dark-brown;
  font-size: 2.6em;
}
h1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.intro {
  display: flex;
}
.about {
  display: inline;
  p {
    font-family: "Lato";
    color: $grey;
  }
  h2 {
    color: $dark-brown;
    font-size: 2em;
    padding: 0.5em;
    font-family: "Playfair Display";font-weight: unset;
  }
}
.intro1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.intro2 {
  color: $dark-brown;
  font-family: "Playfair Display";

  a {
    padding-left: initial;
    color: $orange;
    text-decoration: underline;
  }
  a:hover {
    padding-left: initial;
    color: $orange;
    font-family: "Playfair Display" !important;
    text-decoration: underline;
  }

  img {
    width: 30em;
  }
  margin: 4em 0 4em 9em;
}
h2 {
  margin: 0;
}

#searchwindow {
  width: 400px;

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white;
    font-family: "Playfair Display";
    opacity: 1; /* Firefox */
  }
  display: none;
  width: 100%;
  background-color: $black;
  color: $white;
  height: 90vh;
}
.a {
  font-family: "Playfair Display";
  border-bottom: solid $white 1px;
  width: 50%;
  i {
    font-size: large;
  }
}

#search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  /* flex-direction: row; */
  justify-content: center;
  button {
    background-color: $black;
    border: none;
  }
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
#input_search {
  padding: 1em;
  font-size: 1.5em;
  width: 80%;
  border: none;
  color: $white;
  background-color: $black;
}

.fa2 {
  color: $white;
}

.txt_first {
  width: 65%;
  margin: auto;
  float: right;
  position: unset;
  margin-top: 3%;
  //top: 29%;
  //top:15%;
}
