.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: solid $grey 1px;
  width: 100%;
  .fa-solid {
    margin: 3em;
  }
}
.intro1 {
  margin: 4em 0em;
}
#logoslash {
  margin-top: 1em;
}
.chg-color1 {
  font-weight: unset;
  margin-right: 0em;
  margin: 0;
  font-family: "Playfair Display";
  opacity: 1;
}

.alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 1000%;
  width: auto;
  z-index: -1;

  img {
    width: 50rem;
    position: absolute;
    z-index: -1;
  }
}

.alignfull2 {
  margin-left: calc(113% - 50vw);
  margin-top: calc(105% - 50.5vw);
  //margin-right: calc(100% - 50vw);
  max-width: 1000%;
  //width: auto;
  height: 20vh;
  z-index: -1;

  img {
    width: 50rem;
    //OBAVEZNO VRATITI ZA PREKO!
    position: absolute;
    z-index: -1;
  }
}

.txt_first2 {
  width: 80%;
  margin: auto;
  float: left;
  position: unset;
  margin-top: 3%;
  //top: 29%;
  //top:15%;
}

.text_section2 {
  background-color: $dark-brown;
  //width: 100%;
  z-index: 9;
  padding: 4em;
  width: 50%;
  margin-top: -2%;
  margin: 2%;
  color: $white;
  //margin: auto;
  h2 {
    font-weight: unset;
    font-family: "Playfair Display";
    font-size: 2.5em;
  }
  p {
    font-family: "Lato";
  }
}

//#text_section_main{position: relative;}
.text_section {
  background-color: $light-white;
  //width: 100%;
  z-index: 9;
  padding: 4em;
  //margin: auto;
  h2 {
    font-weight: unset;
    font-family: "Playfair Display";
    color: $orange;
    font-size: 2.5em;
  }

  p {
    font-family: "Lato";
  }
}

.gallery_section {
  margin: auto;
  text-align: center;
  h2 {
    font-family: "Playfair Display";
    font-weight: unset;
    padding: 1em;
    font-size: 3em;
  }
}

.menu_part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 80%;
}
.chg-color {
  color: $dark_grey;
  margin: 0 1em 0 0;
  text-align: left;
  font-weight: unset;
  opacity: 30%;
  font-size: 2.6em;
}
.chg-color1 {
  color: $dark-brown;
  font-size: 2.6em;
}
h1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.intro {
  display: flex;
}
.about {
  display: inline;
  p {
    font-family: "Lato";
    color: $grey;
  }
  h2 {
    color: $dark-brown;
    font-size: 2em;
    padding: 0.5em;
    font-family: "Playfair Display";
    font-weight: unset;
  }
}
.intro1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.intro2 {
  color: $dark-brown;
  font-family: "Playfair Display";

  a {
    padding-left: initial;
    color: $orange;
    border-bottom: solid $orange 1px;
    text-decoration: none;
  }
  a:hover {
    padding-left: initial;
    color: $orange;
    font-family: "Playfair Display" !important;
  }

  img {
    width: 30em;
  }
  margin: 4em 0 4em 9em;
}
h2 {
  margin: 0;
}

#searchwindow {
  width: 400px;

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white;
    font-family: "Playfair Display";
    opacity: 1; /* Firefox */
  }
  display: none;
  width: 100%;
  background-color: $black;
  color: $white;
  height: 90vh;
}
.a {
  font-family: "Playfair Display";
  border-bottom: solid $white 1px;
  width: 50%;
  i {
    font-size: large;
  }
}

#search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  /* flex-direction: row; */
  justify-content: center;
  button {
    background-color: $black;
    border: none;
  }
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
#input_search {
  padding: 1em;
  font-size: 1.5em;
  width: 80%;
  border: none;
  color: $white;
  background-color: $black;
}

.fa2 {
  color: $white;
}

.txt_first {
  width: 65%;
  margin: auto;
  float: right;
  position: unset;
  margin-top: 3%;
  //top: 29%;
  //top:15%;
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu_part2 {
    height: 11vh;
  }
  .menu_part1 {
    position: unset;
  }
  #input_search {
    width: 80% !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
 
  .text_section{
    padding: 2em;
  h2{
    font-size: 1.5em;
} p{font-size: 0.9em;}

  }

  .text_section2{
    padding: 2em;
  h2{
    font-size: 1.5em;
} p{font-size: 0.9em;}

  }
  
  .chg-color1 {
    font-size: 2.1em ;
  }
  .alignfull  {
    
    img{
    width: 30rem;
  }}

  .alignfull2  {
    margin-top: 20em;
    margin-left: 24em;
    height: 6vh;
    img{
    width: 32rem;
  }}

  .chg-color {
    font-size: 2.1em ;
  }
  .intro2 {
    margin: 4em 0 4em 3em;
    img {
      width: 22em;
    }
  }
  .n {
    h2 {
      font-size: 1em;
    }

    p {
      font-size: 0.6em;
    }
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {

  .gallery_section {
    margin-top: 5em;
   
}

  .text_section2 {
   
    width: 65%;}

  .text_section{
    padding: 2em;
  h2{
    font-size: 1.5em;
} p{font-size: 0.9em;}

  }

  .text_section2{
    padding: 2em;
  h2{
    font-size: 1.5em;
} p{font-size: 0.9em;}

  }
  
  .chg-color1 {
    font-size: 2.1em ;
  }
  .alignfull  {
    
    img{
    width: 37rem;
  }}

  .alignfull2  {
    margin-left: 30em;
    margin-top: 24em;;
    height: 8vh;
    img{
    width: 42rem;
    height: 23rem;
  }}

  .chg-color {
    font-size: 2.1em ;
  }
  .intro2 {
    margin: 4em 0 4em 3em;
    img {
      width: 22em;
    }
  }
  .n {
    h2 {
      font-size: 1.1em;
    }

    p {
      font-size: 0.7em;
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1580px) {
  
}

@media screen and (max-width: 991px) {
  .a {
    width: 80%;
  }
  #input_search {
    width: 67%;
  }
  #search {
    width: 100%;
  }
  .chg-color1,
  .chg-color {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }
  #text_section_main2 {
    display: none;
  }
  .intro {
    flex-direction: column;
    .p_other {
      display: none;
    }
    a {
      border-bottom: solid $orange 1px;
      text-decoration: none;
    }
  }
  .box {
    display: contents;
  }
  .n {
    order: 4;
  }
  .d {
    order: 3;
    p {
      font-size: 1.1em;
    }
  }

  .b {
    order: 2;
  }
  .c {
    order: 1;
  }

  .about h2 {
    display: none;
  }

  .intro2 img {
    width: 100%;
  }

  .menu {
    .fa-solid {
      margin: 2em 1.5em;
    }
  }

  .chg-color1 {
    padding: 0.4em 0;
    font-size: 1.9em;
  }

  .chg-color {
    padding-top: 0.3em;
    font-size: 1.9em;
  }

  .menu_part1 {
    font-size: medium;
  }
  .alignfull {
    width: 100% !important;
    margin: 0;
    img {
      width: inherit;
      position: unset;
    }
  }
  .gallery_section {
    display: none;
  }

  .txt_first {
    width: 100%;
    margin: 0;
    float: unset;
    position: unset;
    margin-top: 3%;
    .text_section {
      padding: 0;

      h2 {
        font-size: 1.5em;
      }

      p {
        //font-size: 1em;
      }
    }
  }
}
