$white: #ffffff;
$grey: #ababab;
$dark-brown: #444444;
$orange: #c98730;
$dark_grey: #707070;
$red: #ff4646;
$black: #1a1a1a;
$green-brown: #705b3e;
$light-white: #f5f2ee;
$light-brown: #a0765b;
$latte: #ddccb8;
