$white:#FFFFFF;
$grey:#ABABAB;
$dark-brown:#444444;
$orange:#C98730;
$dark_grey:#707070;
$red:#FF4646;
$black:#1A1A1A;
$green-brown:#705B3E;
$light-white:#F5F2EE;
$light-brown:#A0765B;
$latte:#DDCCB8;